
<div class="top">
    <div class="span6">
        <table class="table table-striped">
            <tr>
                <td>Full name</td>
                <td><%= model.get("full_name") %></td>
            </tr>
            <tr>
                <td>Name </td>
                <td><%= model.get("name") %></td>
            </tr>
           <tr>
               <td><a href="#repositories-branches/<%=model.get('full_name') %>">Branches</a></td>
               <td><%= model.get("branches_count") %></td>
           </tr>
            <tr>
                <td>Pull Requests</td>
                <td><%= model.get("pull_requests_count") %></td>
            </tr>
            <tr>
                <td>Tags </td>
                <td><%= model.get("tags_count") %></td>
            </tr>
            <tr>
                <td><a href="#repositories-contributors/<%=model.get('full_name') %>">Contributors</a></td>
                <td> <%= model.get("contributors_count") %></td>
            </tr>
        </table>
    </div>
</div>