<div id="#register-repository">
    <form method="POST" class="form1">
        <div class="control-group">
            <form class="navbar-search pull-right dropdown">
                <input id="searchText" type="text" class="search-query dropdown-toggle" placeholder="Search"
                       autocomplete="off">
                <select class="form-search" id="github-repos">

                </select>
                <input type="submit" value="inregistreaza" class="btn btn-primary btn-labeled fa fa-shopping-cart ladda-button"
                       id="register-repository"></input>
            </form>
        </div>
    </form>
</div>
