<div class="top">
  <div id="register-repository">

  </div>
    <div class="span6">
        <table class="table table-striped">
        <thead>
            <tr>
                <td>Registered repositories: </td>
            </tr>
            <% _.each(repositories, function(repository){ %>
                <tr>
                    <td><a href="#repositories/<%=repository.get('full_name') %>"><%= repository.get("full_name") %></a></td>
                </tr>
            <% }); %>
        </thead>
    </table>
</div>



